@import 'vars';
@import 'libs';
@import 'uikit';
@import 'reset';
@import 'global';
@import 'vars';
.header{
  &__inner{
    max-width: 1800px;
    margin: 0 auto;
  padding: 45px 15px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  }
  &__logo{
    margin-right: 150px;
  }
}
.menu__list{
  display: flex;
  &-item:not(:last-child){
    margin-right: 35px; 
  }
  &-link{
      @extend %rubik-700;
    font-size: 15px;  
    color: $accent-color;
  }
}
.nav-panel{
  &__inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 320px;
 
  
  }
  &__link-search{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #edf1f4;
    display: flex;
    justify-content: center;
    align-items:center;
  }
  &__link-heart{
    padding: 0 27px 0 43px;
    background: #fcd7b6;
    height: 50px;
    display: flex;
    align-items:center;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    position: relative;
    &::after{
      content:'';
      height: 34px;
      width: 1px;
      background:#fde7d3;
      position: absolute;
      right: 0;
    }
  }
  &__heart-num, &__cart-num{
    position: absolute;
    width: 15px;
    height: 15px;
    background:#fff;
    border-radius: 50%;
    right: -7px;
    top: -7px;
    font-size: 10px;
    line-height: 15px;
    @extend %dmsans-400;
    text-align: center;
    color: $accent-color;
  }
  &__heart-num{
    right: 20px;
    top: 11px;
  }
  &__cart-num{
    left: 40px;
    top: 11px;
  }
  &__link-cart{
    padding: 0 43px 0 27px;
    background: #fcd7b6;
    height: 50px;
    display: flex;
    align-items:center;
       border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    position: relative;
  }
 
  
  &__wrapper{
    border-radius: 40px; 
    display: flex;  
    align-items:center;
    justify-content: space-between;
  }
  &__link-btn{
      width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #a3bbc8;
    display: flex;
    justify-content: center;
    align-items:center;
    transition: all 0.5s ease-in-out;
    &:hover{
      background: #fff;
      border: 1px solid #a3bbc8;
    }
    & path{
      transition: all 0.5s ease-in-out;
      fill:#fff;
    }
    &:hover path{
     fill: #a3bbc8;
    }
  }
}

.top-cards{
  padding: 45px 0;
  background: #fef7f0;
  &__inner{
    display: flex;
    justify-content: space-around;
    padding: 0 70px;
  }
  &__item{
    display: flex;
  }
  &__img{
    margin-right: 25px;
  }
   &__info-title{
     margin-top: -5px;
    font-size: 18px;
    @extend %dmsans-700;
    margin-bottom: 10px;
  }
  &__info-text{
    @extend %dmsans-400;
    font-size: 16px;
    max-width: 200px;
  }
}



.footer{
  &__top{
    padding: 90px 0 70px;
    display: flex;
    border-bottom: 1px solid #dae4e9; 
  }
  
  &__logo{
    margin-bottom: 20px;
    display: inline-block;
  }
  &__top-contact{
    width: 200px;
    margin-right: 100px;
  }
  &__top-adress{
    margin-bottom: 10px;
  }
  &__top-tel{
    color: $devault-color;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 10px;
  }
  &__top-mail{
    color: $devault-color;
  }
  &__top-title{
    color: #1f2044;
    margin-bottom: 30px;
    @extend %dmsans-700;
    text-transform: uppercase;
    font-size: 16px;
  }
  &__top-item{
    width: 270px;
    margin-right: 30px;
    &:not(:first-child){
      padding-top: 16px;
    }
  }
  &__top-list__link{
    color: $devault-color;
    margin-bottom: 10px;
  }
  &__top-forms{
    width: 270px;
    margin-right: 0;
    
  }
  &__top-item__text{
    margin-bottom: 40px;
    @extend %dmsans-400;
  }
   &__top-item__form{
     display: flex;
   }
  &__top-item__input{
    width: 100%;
    max-width: 170px;
    height: 40px;
    padding: 15px;
      @extend %dmsans-400;
    font-size: 12px;
    border:none;
    background: #fef7f0;
    &::placeholder{
      color: $title-color;
    }
  }
   &__top-item__btn{
    min-width: 100px;
    color: #fff;
    font-size: 14px;
    @extend %dmsans-400;
     cursor: pointer;
     border:none;
     height: 40px;
     background: #a3bbc8;
   }
   &__bottom{
     padding: 35px 0;
     display: flex;
     justify-content: space-between;
     align-items:center;
     font-size: 14px;
   }
   &__bottom-menu{
     display: flex;
   }
    &__bottom-item{
      padding: 0 15px;
      &:not(:last-child){
        border-right: 2px solid $devault-color;
      } 
      &:last-child{
        padding-right: 0;
      }
    }
   &__bottom-link{
     font-size: 14px;
     color: $devault-color;
     
   }
}

// top-slider
.top-slider{
  &__inner{
  background: #fcd7b6;
 padding-bottom: 45px;
  }
  &__container{
    max-width: 1430px;
    margin: 0 auto;
  }
  &__items{
  min-height: 745px;
  }
  &__item{
     background-image: url('../images/circle.png');
  background-repeat: no-repeat;
      background-position: top 93% right 17px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin: 0 auto;
    padding:  0 130px;
    
  }
  &__item-content{
    max-width: 500px;
  }
  &__item-title{
    font-size: 72px;
    line-height: 1;
    color: $accent-color;
    @extend %rubik-700;
    margin-bottom: 28px;
    padding-top: 10px;
  }
  &__item-text{
    font-size: 18px;
    margin-bottom: 40px;
    max-width: 380px;
  }
  &__item-btn{
    padding-left: 27px;
    & svg{
      text-align: right;
    }
    & path{
      fill:#fff;
      text-align: right;
      transition: all 0.5s ease-in-out;
    }
    &:hover path{
      fill:#436372;
    }
  }
  &__item-img{
    padding-top: 6%;
  }
}

 .uk-slider-nav{
  display: flex;
  justify-content: center;
   li{
    margin: 0 5px;
    }
    li.uk-active a{
      background: #fff;
    }
    a{
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: #fde3cc;
    border-radius: 50%;
      font-size: 10px;
      color: $accent-color;
      text-align: center;
      display: inline-block;
      @extend %rubik-500;
    }
}

.products{
  padding-top: 60px;
  text-align: center;
  &__title{
    margin-bottom: 25px;
  }
  &__buttons{
   
    margin-bottom: 75px;
  }
   
  
  &__items{
    display: grid;
    grid-gap: 40px 30px;
    grid-template-columns: repeat(4, 1fr);
  }

  &__item{
    max-width: 270px;
    padding-bottom: 50px;
     background-color: rgb(255, 255, 255);
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  }
  &__item-img{
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items:center;
    object-fit: cover;
     min-height: 220px;
     overflow:hidden;
     position: relative;
  }
  &__item-title{
    font-size: 16px;
    margin-bottom: 10px;
    @extend %dmsans-400;
    color: $accent-color;   
  }
  &__item-img{
    color:#aac0cc;
     @extend %dmsans-700;  
  }
}
.products-links{
  position: absolute;
  left: 0;
  bottom: 25px;
  right: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  transform: translateY(100px);
  transition: all 0.3s ease-in-out;
}
.products-link{
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items:center;
  margin: 0 7px;
}
.products__item:hover .products-links{
   transform: translateY(0);
}
.products-link:hover {
  background: #aac0cc;
}
.products-link path {
  transition: all 0.3s ease-in-out;
  fill: #aac0cc;
}
.products-link:hover path{
  fill: #fff;
}

.products-categories{
 text-align: left;

  &__inner{
      padding-top: 180px;
      display: flex;
     justify-content: space-between;
      column-gap: 30px;
  }
  &__item{
    background: #feefe2;
    padding: 0px 120px 0px 30px;
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: 390px;
  }
  &__item-img{
    max-width: 405px;
    width: 100%;
    text-align: revert;
    display: flex;
    justify-content: flex-end;
    align-items:flex-end;
    margin-right: 20px;
    position: relative;
    & img{
      position: relative;
      bottom: 85px;
      object-fit: contain;
    }
  }
  &__item-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 470px;
  }
  &__item-title{
    font-size: 26px;
    margin-bottom: 22px;
    @extend %dmsans-700;
    color: $accent-color;
    max-width: 250px;
  }
  &__item-descr{
    margin-bottom: 33px;
    color: $accent-color;
  }
  &__item-link{
    align-self: flex-start;
  }
}

.catalog{
  padding:  93px 0 110px;
  &__title{
    margin-bottom: 20px;
    text-align: center;
  }
  &__buttons{
    display: flex;
    justify-content: center;
    margin-bottom: 75px;
  }
  &__button{
    display: flex;
    justify-content: center;
  }
  &__items{
    display: grid;
    grid-gap: 30px 30px;
    grid-template-columns: repeat(3, 1fr);
  }
  &__item{
    background: #f8f8f8;
    padding: 30px 0 30px 33px;
    max-width: 370px;
    min-height: 250px;
    overflow: hidden;
    background-size: cover;
    background-position: right;
    
    img{
      position: absolute;
      object-fit: cover;
    }
  }
  &__item-title{
    @extend %dmsans-700;
    font-size: 20px;
    max-width: 180px;
    margin-bottom: 10px;
    color: $darc-color;
  }
  &__item-descr{
    @extend %dmsans-700;
    font-size: 16px;
    color: #a3bbc8;
  }
}


.video{
  &__inner{
      height: 500px;
      display: flex;
      justify-content: center;
      align-items:center;
      & img{
        cursor: pointer;
      }
  }
}

.blog{
  padding-top: 114px;
  &__top{
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-bottom: 40px;
  }
  &__top-link{
    @extend %dmsans-700;
    font-size: 16px;
    padding-right: 20px;
    position: relative;
    color: $darc-color;
    & svg{
      padding-left: 20px;
    }
  }
  &__items{
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
  }
  &__item{
    max-width: 370px;
  }
  &__item-img{
    height: 250px;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    & img{
      object-fit: cover;
      width: 100%;
    }
  }
  &__item-link{
    position: absolute;
    left: 30px;
    bottom: -15px;
    padding: 7px 28px;
    display: inline-block;
    background: #a3bbc8;
    color: #fff;
    text-transform: uppercase;
    border-radius: 40px;
    line-height: 1;
  }
  &__item-bottom{
    padding: 30px 30px 0 30px;
    background: #fff;
    min-height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__item-bottom__title{
    font-size: 18px;
    @extend %dmsans-500;
    padding-bottom: 10px;
   
  }
  &__item-bottom__dataadmin{
    padding: 20px 0;
    display: flex;
    align-items:center;
    color: $darc-color;
    font-size: 12px;
    border-top: 1px solid #e0e0e0;
  }
  &__item-bottom__data{
    margin-right: 30px;
  }
  &__item-bottom__data, .blog__item-bottom__admin{
    padding-left: 18px;
    position: relative;
  }
  &__item-bottom__admin::before, &__item-bottom__data::before  {
  position: absolute;
  left: 0;
  top: 7px;
  width: 15px;
  height: 13px;
  content: '';
  background-size: cover;
  background-repeat: no-repeat;
  }
   &__item-bottom__data::before{
    background-image: url("../images/icons/user-blog.svg");
     
   }
   &__item-bottom__admin::before{
    background-image: url("../images/icons/time.svg");
     
   }
}

.partners{
  background: #fef7f0;
  position: relative;
  &::before{
    position: absolute;
    content: '';
    top: -182px;
    height: 100%;
    right: 0;
    left: 0;
    background: #fef7f0;
    z-index: -1;
  }
  &__items{
  height: 250px;
  display: flex;
  justify-content: space-around;
  align-items: space-around;
  align-items:center;
  }
}



  
@import 'media'