$devault-color: #8b8b8b;
$accent-color: #243f4d;
$title-color: #234969;

%dmsans-700{
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
}
%dmsans-400{
    font-family: 'DM Sans';
    font-weight: 400;
}
%rubik-700{
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}
%rubik-500{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}
%rubik-400{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

// font-family: 'DM Sans', sans-serif;
// font-family: 'Rubik', sans-serif;s